body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 1;
    background-color:#f7f595
  }
  /* The large header at the top of the page */
   .jumbotron {
    text-align: center;
    background: rgb(250,186,7);
    background: linear-gradient(90deg, rgba(250,186,7,1) 0%, rgba(6,174,213,1) 35%, rgba(0,212,255,1) 100%);
    color: black;
    border-radius: 0;
    border-bottom: 3px solid black;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  /* The text area for each hour block */
  textarea {
    background: aliceblue;
    border: 1px solid #06aed5;
    resize: none;
    color: #086788;
    padding: 5px;
  }

  /* Styling for when you click in the text area of an hour block. */
  textarea:focus {
   outline-color: #fab907d7;
  }

 /* The square to the left of each block that displays the time. */
   span {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Today's date at the top of the page. */
  #currentDay {
    font-weight: bold;
    font-size: 22px;
  }

  /* The blocks for each hour */
  .time-block {
    text-align: center;
    padding-top: 30px;
  }
  
  /* Class that can be applied to time blocks that are in the past. */
  .past, .past + textarea {
    background-color: #9ce6fd;
    color: white;
  }
  
  /* Class that can be applied to time blocks that are in the present. */
  .present, .present + textarea {
    background-color: #fa0747;
    color: #086788
  }
  
   /* Class that can be applied to time blocks that are in the future */
  .future, .future + textarea {
    background-color: #fab907d7;
    color: #086788
  }
  
  /* Button to save the text information along with the time. */
  .saveBtn {
    border-left: 1px solid #9ce6fd;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
 }
  /* The save icon grows when you hover over it. */
  .saveBtn i:hover {
    font-size: 25px;
    transition: all 0.3s ease-in-out;
  }

 