body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 1;
    background-color:#f7f595
  }
  
   .jumbotron {
    text-align: center;
    background: rgb(250,186,7);
    background: linear-gradient(90deg, rgba(250,186,7,1) 0%, rgba(6,174,213,1) 35%, rgba(0,212,255,1) 100%);
    color: black;
    border-radius: 0;
    border-bottom: 3px solid black;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  textarea {
    background: aliceblue;
    border: 1px solid #06aed5;
    resize: none;
    color: #086788;
    padding: 5px;
  }

  textarea:focus {
   outline-color: #fab907d7;
  }

 
   span {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #currentDay {
    font-weight: bold;
    font-size: 22px;
  }

  .time-block {
    text-align: center;
    padding-top: 30px;
  }
  
  .past {
    background-color: #9ce6fd;
    color: white;
  }
  
  .present {
    background-color: #fa0747;
    color: white
  }
  
  .future {
    background-color: #fab907d7;
    color: white
  }
  
  .saveBtn {
    border-left: 1px solid #9ce6fd;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
 }
  
  .saveBtn i:hover {
    font-size: 25px;
    transition: all 0.3s ease-in-out;
  }

 